html{
        scroll-behavior: smooth;
}
body{
        background-color: #222831;
        font-family: sans-serif;
}
.header{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 45px;
    font-family: serif;
    font-size: 20px;
    width: auto;
}
.header a{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    margin-left: 65px;
}
body h2{
    font-family: serif;
}
.intro{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.introimg{
    margin: 100px;
    height: 500px;
    margin-left: 175px;
    margin-right: 60px;
    border: #EEEEEE solid 15px;
    border-radius: 500px
}
.introtxt{
    margin-top: 180px;
    margin-right: 20px;
    height: 200px;
}
.introtxt h1{
    font-family: serif;
    letter-spacing: 0px;
    font-size: 75px;
    margin-top: 15px;
    height: 80px;
    color: #EEEEEE;
}
.introtxt h2{
    font-family: sans-serif;
    font-size: 45px;
    color: #76ABAE;
    height: 40px;
}
.introtxt p{
    font-size: 20px;
    color: #76ABAE;
}
.about{
    margin-top: px;
    margin-left: 20px;
    height: 230px;
    word-spacing: auto;
    line-height: 35px;
}
.about h2{
    font-size: 50px;
    height: 50px;
    color: #EEEEEE;
}
.skill{
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    max-height: 440px;
    height: auto;
    word-spacing: auto;
}
.skill h2{
    font-size: 50px;
    height: 50px;
    color: #EEEEEE;
}
.skill div{
    margin: 150px;
    height: auto;
    width: 300px;
    margin-top: 150px; 
    margin-left: 0.001px;  
    font-size: 20px;
    color: #012b3f;
}
.skill summary{
    font-weight: bold;
    font-size: 20px;
    color: #76ABAE;
}
.skill ul{
    color: #EEEEEE;
}
.certification{
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
}
.certification h2{
    font-size: 50px;
    height: 50px;
    width: 350px;
    color: #EEEEEE;
}
.certi{
    margin-top: 15px;
    margin-left: 30px;
}
.project{
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
}
.project h2{
    font-size: 50px;
    height: 50px;
    width: 350px;
    color: #EEEEEE;
}
.proj{
    margin-top: 15px;
    margin-left: 30px;
}
.education{
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
}
.education h2{
    font-size: 50px;
    height: 50px;
    width: 350px;
    color: #EEEEEE;
}
.educ{
    margin-top: 15px;
    margin-left: 30px;
}
.profile{
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
}
.profile h2{
    font-size: 50px;
    height: 50px;
    width: 350px;
    color: #EEEEEE;
}
.pro{
    margin-left: 30px;
}
.pro a{
    color: #76ABAE;
    font-size: 20px;
}
.contact{
    
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    font-size: 20px;
    line-height: 40px;
}
.contact h2{
    margin-top: 30px;
    font-size: 30px;
    height: 50px;
    width: 350px;
    color: #EEEEEE;
}
.contact p{
    margin-left: 30px;
    margin-top: 15px;
    color: #76ABAE;
    line-height: 15px;
}
.contact a{
    margin-left: 30px;
    color: #EEEEEE;
    font-size: 20px;
}